* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* Variables */
:root {
  --mainBackgroundColor: rgb(13, 13, 13);
  --secondaryBackgroundColor: rgb(28, 28, 28);
  --fontFamily: "Stack Sans Headline", sans-serif;
  --primaryFontColor: rgb(206, 206, 206);
  --secondaryFontColor: rgb(186, 186, 186);
}

.main {
  width: 100%;
  height: 100%;
  background-color: var(--mainBackgroundColor);
  font-family: var(--fontFamily);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header {
  width: 100%;
  height: 20%;
}
.heading {
  width: 100%;
  height: 100%;
  padding: 60px 315px;
  color: var(--primaryFontColor);
  display: flex;
  align-items: center;
  gap: 40px;
  /* background-color: red; */
}
.logoImg {
  width: 75px;
  height: 70px;
}
.mainBody {
  width: 58%;
  height: 75%;
  background-color: var(--secondaryBackgroundColor);
  border-radius: 40px;
  padding: 40px 40px;
  display: flex;
}
.leftSide {
  margin-right: 10px;
  width: 55%;
  height: 100%;
  /* background-color: blue; */
  border-right: 2px solid var(--secondaryFontColor);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rightSide {
  width: 40%;
  height: 100%;
  /* background-color: rgb(206, 25, 52); */
  color: var(--secondaryFontColor);
  padding: 30px 40px;
}
.rightSide h4 {
  font-size: 25px;
}
.inputField {
  margin-top: 30px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 90px;
  margin-top: 40px;
}
.inputField h4 {
  font-size: 35px;
  color: var(--secondaryFontColor);
}
.inputField input {
  width: 190px;
  height: 34px;
  padding: 10px 15px;
}
#gender {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
}
#activity {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
}
select {
  width: 190px;
  height: 34px;
  padding: 6px 15px;
}
.calculateBtn {
  display: flex;
  text-align: center;
  /* justify-content: center; */
  align-items: center;
  margin-top: 30px;
  background-color: rgb(0, 183, 0);
  color: black;
  font-size: 20px;
  border: none;
  border-radius: 30px;
}
.calculateBtn:hover{
    cursor: pointer;
    background-color: rgb(0, 130, 0);
}

.display {
  width: 100%;
  height: 25%;
  /* background-color: black; */
}
.colorGreen {
  color: rgb(0, 183, 0);
  font-size: 55px !important;
}

.footer {
  padding: 30px 30px;
  width: 100%;
  height: 10%;
  /* background-color: black; */
  color: var(--primaryFontColor);
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}